@using Jared.Presentation.Components.Advanced
@using Jared.Presentation.Components.Forms
@inherits LayoutComponentBase

<PageTitle>Jared.Presentation</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CreateButton
                OpenTaskDialog="@showCreateTaskDialog"
                OpenEpicDialog="@showCreateEpicDialog"
                OpenProjectDialog="@showCreateProjectDialog"/>
            <UserButton />
        </div>

        <article class="content px-4">
            @if (isActiveTaskCreateDialog)
            {
                <TaskCreateForm Title="Create new task" CloseDialog="showCreateTaskDialog"/>
            }
            else if (isActiveEpicCreateDialog)
            {
                <EpicCreateForm title="Create new epic" CloseDialog="showCreateEpicDialog" />
            }
            else if (isActiveProjectCreateDialog)
            {
                <ProjectCreateForm title="Create new project" CloseDialog="showCreateProjectDialog" />
            }
            @Body
        </article>
    </main>
</div>

@code {
    private bool isActiveTaskCreateDialog;
    private bool isActiveEpicCreateDialog;
    private bool isActiveProjectCreateDialog;

    private void showCreateTaskDialog()
    {
        isActiveTaskCreateDialog = !isActiveTaskCreateDialog;

        if (isActiveTaskCreateDialog)
        {
            isActiveEpicCreateDialog = false;
            isActiveProjectCreateDialog = false;
        }
    }

    private void showCreateEpicDialog()
    {
        isActiveEpicCreateDialog = !isActiveEpicCreateDialog;

        if (isActiveEpicCreateDialog)
        {
            isActiveTaskCreateDialog = false;
            isActiveProjectCreateDialog = false;
        }
    }

    private void showCreateProjectDialog()
    {
        isActiveProjectCreateDialog = !isActiveProjectCreateDialog;

        if (isActiveProjectCreateDialog)
        {
            isActiveTaskCreateDialog = false;
            isActiveEpicCreateDialog = false;
        }
    }
}

<style>
    .button-size{
        width: 150px;
        margin-left: 1rem;
    }
</style>