.notification-container {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 400px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background-1);
    color: var(--font-color);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .notification.closing {
        opacity: 0;
        transform: translateY(20px);
    }

.notification-icon {
    width: 40px;
    font-size: 24px;
    margin-right: 10px;
}

.notification-text {
    flex-grow: 1;
    overflow: hidden;
}

.notification-close {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--font-color);
}

    .notification-close:focus {
        outline: none;
        box-shadow: none;
    }

.notification.success {
    border: 2px solid var(--success-color);
}

.notification.error {
    border: 2px solid var(--error-color);
}

.notification.warning {
    border: 2px solid var(--warning-color);
}

.notification.information {
    border: 2px solid var(--information-color);
}

.notification.success .notification-icon,
.notification.success .notification-close:hover {
    color: var(--success-color);
}

.notification.information .notification-icon,
.notification.information .notification-close:hover {
    color: var(--information-color);
}

.notification.warning .notification-icon,
.notification.warning .notification-close:hover {
    color: var(--warning-color);
}

.notification.error .notification-icon,
.notification.error .notification-close:hover {
    color: var(--error-color);
}
