<div class="input-field">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-control-label" for="@($"label-{Id}")">@Label</label>
        <br />
    }
    <span class="form-control" style="background-color:rgb(40,40,40)">
        @(string.IsNullOrWhiteSpace(Value) ? "N/A" : Value)
    </span>
</div>

<style>
    .input-field {
        padding: 0.3rem !important;
    }
</style>
