@typeparam TItem

<h3>GridComponent</h3>

<table class="data-grid">
    <thead>
        <tr>
            @foreach(var column in ItemsDefinition)
            {
                <th class="align-@column.Alignment.ToString().ToLower()">
                    @column.ColumnName
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr class="data-grid-body">
                @foreach (var column in ItemsDefinition)
                {
                    <td class="align-@column.Alignment.ToString().ToLower()">
                        @item!.GetType().GetProperty(column.ColumnName)!.GetValue(item)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<div>
    <button class="button" @onclick="previousPage">Previous</button>
    <button class="button" @onclick="nextPage">Next</button>
</div>

<style>
    .data-grid {
        width: 100%;
    }

    .data-grid-header {
        font-weight: bold;
    }

    .data-grid-body {
        border-top: solid 1px green;
    }

    .data-grid-body:hover {
        background-color: #DDDDDDDD;
        cursor: pointer;
    }

    .align-left{
        text-align: left !important;
    }
    .align-center{
        text-align: center !important;
    }
    .align-right{
        text-align: right !important;
    }
</style>