@typeparam TItem

<h3>GridComponent</h3>

<table class="data-grid">
    <thead>
        <tr>
            @foreach(var column in ItemsDefinition)
            {
                <th>
                    @column.ColumnName
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @foreach (var column in ItemsDefinition)
                {
                    <td>
                        @item!.GetType().GetProperty(column.ColumnName)!.GetValue(item)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>