.right-border {
    border-right: 2px solid;
    border-color: rgb(0, 62, 0) !important;
}

.input-style {
    width: 100%;
}

.blazor-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE77;
}

.blazor-modal-small {
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 200px;
    background-color: #DDDDDD;
    overflow: hidden;
    border-radius: 10px;
}

.blazor-modal-medium {
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 200px;
    background-color: #DDDDDD;
    overflow: hidden;
    border-radius: 10px;
}

.blazor-modal-large {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 200px;
    background-color: #DDDDDD;
    overflow: hidden;
    border-radius: 10px;
}

.blazor-modal-very-large {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
    background-color: #DDDDDD;
    overflow: hidden;
    border-radius: 10px;
}

.blazor-modal-content-small {
    min-height: 200px;
    height: auto;
    max-height: 400px;
    margin: auto;
    background-color: #DDDDDD;
    overflow: hidden;
}

.blazor-modal-content-medium {
    min-height: 250px;
    height: auto;
    max-height: 500px;
    margin: auto;
    background-color: #DDDDDD;
    overflow: hidden;
}

.blazor-modal-content-large {
    min-height: 300px;
    height: auto;
    max-height: 600px;
    margin: auto;
    background-color: #DDDDDD;
    overflow: hidden;
}

.blazor-modal-content-very-large {
    min-height: 350px;
    height: auto;
    max-height: 700px;
    margin: auto;
    background-color: #DDDDDD;
    overflow: hidden;
}

.blazor-modal-header {
    padding: 1rem;
    height: 70px;
    background-color: darkgreen;
    border-radius: 10px 10px 0 0;
}

.blazor-modal-title {
    margin: 2px;
    display: inline-block;
}

.blazor-modal-body-1 {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px !important;
}

.blazor-modal-body-2 {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 10px !important;
}

.blazor-modal-body-3 {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding: 10px !important;
}

.blazor-modal-footer {
    padding: 0.6rem;
    height: 60px;
    background-color: darkgreen;
    border-radius: 0 0 10px 10px;
}

.btn-close {
    padding: 0.65rem;
    float: right;
}

.btn-primary-dialog {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    float: right;
    margin-right: 15px;
}

.btn-danger {
    float: right;
    margin-right: 15px;
}
