.show-menu {
    display: grid;
}

.user-button {
    margin-left: 1rem;
}

.top-row a {
    margin-left: 0 !important;
    vertical-align: middle !important;
}

.dropdown-item {
    color: var(--font-color);
}
.dropdown-item:hover {
    background-color: var(--background-2);
    color: var(--font-color);
}
.dropdown-info {
    color: var(--main-color);
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 16px;
}

.dropdown-menu {
    background-color: var(--background-1);
    margin-top: 0.0rem;
    border: 1px solid var(--main-color)
}

.dropdown-btn {
    width: 120px;
    border-radius: 0;
    height: 49px;
    color: var(--font-color);
    background-color: var(--background-2);
}

    .dropdown-btn:hover {
        color: var(--font-color);
        background-color: var(--background-1);
    }

    .dropdown-btn:focus {
        color: var(--font-color);
        background-color: var(--background-1);
        box-shadow: initial;
        border-left: 1px solid var(--main-color);
        border-right: 1px solid var(--main-color);
        border-top: 1px solid var(--main-color);
    }
