.show-menu {
    display: grid;
}

.user-button {
    margin-left: 1rem;
}

.top-row a {
    margin-left: 0 !important;
    vertical-align: middle !important;
}

.dropdown-item {
    color: var(--font-color);
}
.dropdown-item:hover {
    background-color: var(--background-2);
    color: var(--font-color);
}

.dropdown-menu {
    background-color: var(--background-1);
    left: auto;
    right: -0.2rem;
    margin-top: 0.1rem;
    border: 1px solid var(--main-color)
}
