<div class="dropdown">
    <button @onclick="toggleUserMenu"
            @onfocusout="hideUserMemu"
            class="btn btn-secondary dropdown-toggle user-button">
        <i class="oi oi-file" />
    </button>
    <div class="dropdown-menu @userMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <button class="dropdown-item" @onclick="openTaskDialog">Create task</button>
                <button class="dropdown-item" @onclick="openEpicDialog">Create epic</button>
                <button class="dropdown-item" @onclick="openProjectDialog">Create project</button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

<style>
    .show-menu {
        display: grid;
    }

    .user-button {
        margin-left: 1rem;
    }

    .top-row a {
        margin-left: 0 !important;
        vertical-align: middle !important;
    }

    .dropdown-item:hover {
        background-color: #DDDDDD;
    }

    .dropdown-menu {
        left: auto;
        right: -0.2rem;
        margin-top: 0.1rem;
    }
</style>
