@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="dropdown">
    <button
        @onclick="toggleUserMenu"
        @onfocusout="hideUserMemu"
        class="btn btn-secondary dropdown-toggle user-button">
        <i class="oi oi-person" />
    </button>
    <div class="dropdown-menu @userMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <a href="profile" class="dropdown-item">Profile</a>
                <button onclick="@(async () => await logout())" class="dropdown-item">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="login?returnUrl=@NavigationManager.ToBaseRelativePath(NavigationManager.Uri)" class="dropdown-item">Login</a>
                <a href="register" class="dropdown-item">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
