@page "/profile"
@inject IMediator Mediator

<div>
    <h4>Profile</h4>
</div>

<div style="max-width:500px">
    <EditForm Model="@dto" OnValidSubmit="changePassword">
        <FluentValidationValidator />
        <h5>Change password</h5>
        <div>
            <InputPasswordField
                @bind-Value="@dto.CurrentPassword"
                Id="password"
                Label="Current password"
                ValidationFor="(() => dto.CurrentPassword)" />
        </div>
        <div>
            <InputPasswordField
                @bind-Value="@dto.NewPassword"
                Id="new-password"
                Label="New password"
                ValidationFor="(() => dto.NewPassword)" />
        </div>
        <div>
            <InputPasswordField
                @bind-Value="@dto.ConfirmPassword"
                Id="confirm-new-password"
                Label="Confirm new password"
                ValidationFor="(() => dto.ConfirmPassword)" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary-dialog">Change password</button>
        </div>
    </EditForm>
    <div class=@(isPasswordChanged ? "text-success" : "text-danger")>
        <span>
            @message
        </span>
    </div>
</div>
