@page "/login"
@inject IMediator Mediator
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div>
    <h4>User login</h4>
</div>
<div style="max-width:500px">
    <EditForm Model="@Dto" OnValidSubmit="loginUser">
        <FluentValidationValidator />
        <div>
            <InputTextField
                @bind-Value="@Dto.Email"
                Id="email"
                Label="Email"
                ValidationFor="(() => Dto.Email)" />
            <InputPasswordField
                @bind-Value="@Dto.Password"
                Id="password"
                Label="Password"
                ValidationFor="(() => Dto.Password)" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary-dialog">Login</button>
        </div>
    </EditForm>
    <div class="text-danger">
        <span>
            @errorMessage
        </span>
    </div>
</div>
