@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="dropdown">
    <button
        @onclick="toggleUserMenu"
        @onfocusout="hideUserMemu"
        class="btn btn-secondary dropdown-toggle user-button">
        <i class="oi oi-person" />
    </button>
    <div class="dropdown-menu @userMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <button onclick="@(() => logout)" class="dropdown-item">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="login" class="dropdown-item">Login</a>
                <a href="register" class="dropdown-item">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<style>
    .show-menu {
        display: grid;
    }

    .user-button {
        margin-left: 1rem;
    }

    .top-row a {
        margin-left: 0 !important;
        vertical-align: middle !important;
    }

    .dropdown-item:hover {
        background-color: #DDDDDD;
    }

    .dropdown-menu {
        left: auto;
        right: -0.2rem;
        margin-top: 0.1rem;
    }
</style>
